@if (artical$ | async; as artic) {
  <div class="artical">
    @if (!isEditing) {
      <div class="header">
        <h3 [style]="{cursor: 'pointer'}">{{artic?.title}}</h3>
        <p-button
          label="Редактировать"
          [outlined]="true"
          severity="secondary"
          [text]="true"
          class="p-button-raised p-button-sm p-button-rounded p-button-outlined"
          (onClick)="editing()"
        ></p-button>
      </div>
      <div
        [innerHTML]="artic?.content"
      ></div>  
    } @else {
      <app-create-article 
        [artical]="artic"
        (editingCompleted)="editingCompleted()"
      ></app-create-article>
    }
  </div>
}
