    <div *ngFor="let category of formArray.controls" [formGroup]="category">
      <p-checkbox
        [formControl]="getCategory(category)"
        [label]="getName(category)"
        [binary]="true"
      ></p-checkbox>
    </div>
    <div class="buttons">
      <p-button
      label="Показать"
      [outlined]="true"
      severity="secondary"
      [text]="true"
      class="p-button-raised p-button-sm p-button-rounded p-button-outlined"
      (onClick)="getSelectedCategories()"
    ></p-button>
    <p-button
      label="Сбросить"
      [outlined]="true"
      severity="secondary"
      [text]="true"
      class="p-button-raised p-button-sm p-button-rounded p-button-outlined"
      (onClick)="clearSelectedCategories()"
    ></p-button>
    </div>
    


